version: '3.8'

services:
  node-app:
    image: waseem09/amazon-prime:latest  # Use the Docker Hub image
    container_name: node-app
    restart: always
    stdin_open: true
    tty: true
    expose:
      - "3000"
    



  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - node-app

